<div class="container">
  <h3>Trip Information</h3>
  <label for="passenger" class="form-label">Service Type</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">

  <label for="passenger" class="form-label">Passenger</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">


  <label for="passenger" class="form-label">Phone Number</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">

  <label for="passenger" class="form-label">Number of Passengers</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">

  <label for="passenger" class="form-label">Vehicle Type</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">


  <h3>Billing Information</h3>
  <label for="passenger" class="form-label">Primary Billing Contact</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">

  <label for="passenger" class="form-label">Payment Method</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">


  <h3>Trip Routing Information</h3>

  <label for="passenger" class="form-label">Pick up Location</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">


  <label for="passenger" class="form-label">Pick up time</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">



  <label for="passenger" class="form-label">Drop Off Location</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">

  <label for="passenger" class="form-label">Drop off Location</label>
  <input id="passenger" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">



  Charges & Fees

  Flat rate

  Pick-up Date: 05/18/2023 - Thursday
  Pick-up Time: 11:00 AM
  ServiceType: Airport
  Passenger: Sarah Synder
  Client Ref#:
  Phone Number:
  No. of Pass: 1
  Vehicle Type: SUV
  Primary/Billing Contact: ACE
  Payment Method: Check


  <div>

  </div>

</div>
